<nav id="nav">
  <div id="out-btn" onclick="toggle()">
    <span></span>
    <span></span>
  </div>
  <ul>
    <li><a href="/abstammungsgutachten" {% if page.permalink == "/abstammungsgutachten" %} class="current" {% endif %}>Abstammungsgutachten</a></li>
    <li><a href="/bestellung" {% if page.permalink == "/bestellung" %} class="current" {% endif %}>Öffentliche Bestellung Sachverständiger</a></li>
    <li><a href="/" {% if page.permalink == "/" %} class="current" {% endif %}>Der Verband</a></li>
    <li><a href="/sachverstaendige" {% if page.permalink == "/sachverstaendige" %} class="current" {% endif %}>Die Sachverständigen</a></li>
    <li><a href="/vorstand" {% if page.permalink == "/vorstand" %} class="current" {% endif %}>Der Vorstand</a></li>
  </ul>
</nav>
